body{
    background-image: url(img/Sprinkle\ \(1\).svg);
    background-repeat: no-repeat;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;

}

.card{
    width: 90%;
    max-width: 470px;
    background : linear-gradient(135deg,#5f3dc4,#d0bfff);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 50px;
    padding: 30px 30px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.searchbtn{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.searchbtn:hover{
    background-color: #c9c9c9;
}

.searchbtn:active{
    background-color: antiquewhite;
}
.searchbtn img{
    width: 20px;

}

.Error{
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    color: rgb(236, 66, 66);
    font-weight: 900;
    display: none;
}